<div class="contents row">
  <div class="success mx-auto">
    <div class="jumbotron bg-light">
      <h3 class="text-success">
        投稿が完了しました。
      </h3>
      <a class="btn btn-primary" href="/">投稿一覧へ戻る</a>
    </div>
  </div>
</div>