.jumbotron {
  position: relative;
  padding: 2rem 1rem;
  margin: 4rem auto;
  border-radius: 0.3rem;
  border: solid;
  border-width: 1px;
  background-position: center center;
  height: auto;
  background-size:auto 100%
}
img {
  max-width: 100%;
  height: auto;
  }

.card {
  width:50%;
  padding:15px;
  box-sizing:border-box;
  height: auto;
}

.row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 1000px;
  *zoom: 1;
}

.jumbotron-extend {
  position: relative;
  height: 50%;
  min-height: 200px;
  background: url(galaxy.jpg) no-repeat center center;
  background-size: cover;
}

footer{
  margin-bottom: 0;
  width: 100%;
  position: fixed;
}
